<nav class="interests-sub-nav">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/interests/" class="{% if page.url == '/interests/' %}active-interest{% else %}inactive-interest{% endif %}">Pursuits</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/interests/community/" class="{% if page.url == '/interests/community/' %}active-interest{% else %}inactive-interest{% endif %}">Community</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/interests/exploration/" class="{% if page.url == '/interests/exploration/' %}active-interest{% else %}inactive-interest{% endif %}">Exploration</a>
    </li>
  </ul>
</nav>
