//
// VARIABLES
//

// Colors
$blue: #4183C4;
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Layout
$header-height: 120px;
$sidebar-width: 200px;

// Font stacks
$helvetica: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
