<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    {% if page.mathjax %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}
  </head>

  <body>
    <header class="masthead">
      <div class="header-container">
        <div class="avatar">
          <a href="{{ site.baseurl }}/">
            <img src="{{ site.avatar }}" alt="{{ site.name }}">
          </a>
        </div>
        <div class="site-title">
          <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <p class="site-subtitle">{{ site.description }}</p>
        </div>
      </div>
    </header>

    <div class="layout-container">
      <aside class="sidebar">
        <nav class="side-nav">
          <ul>
            <li><a href="{{ site.baseurl }}/experience/">Experience</a></li>
            <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
            <li><a href="{{ site.baseurl }}/education/">Education</a></li>
            <li><a href="{{ site.baseurl }}/interests/">Interests</a></li>
            <li><a href="{{ site.baseurl }}/images/KevinJun_Resume.pdf">Resume</a></li>
          </ul>
        </nav>
      </aside>

      <main class="main-content" role="main">
        {{ content }}
      </main>
    </div>

    {% include analytics.html %}
  </body>
</html>
